{% extends '_base.html' %}


{% block title %}
Car detail
{% endblock title%}

{% block content %}
<h2>Страница автомобиля</h2>
    <p>Хозяин: {{ car.user }}</p>
    <p>Марка: {{ car.manufacturer }}</p>
    <p>Модель: {{ car.model }}</p>
    <img src="{{ car.image.url }}" width="200" height="200" alt="Картинка авто"/>
    <p>Дата выпуска: {{ car.made_data }}</p>
    <p>Пробег: {{ car.milleage }} км</p>
    <p>Цена: {{ car.price }} $</p>
<div>
    {% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment {{ total_comments | pluralize }}</h2>
    {% endwith %}
    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body | linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments</p>
    {% endfor %}
    {% if new_comment %}
    <h2>Your comment has been added.</h2>
    {% else %}
    <h2>Add new comment</h2>
    <form action="" method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
    {% endif %}
    <p>Все картинки авто:</p>
    {% for car in car.cars.all %}
        <!--{{ car.description }}-->
        <img src="{{ car.img.url }}"width="300" height="200" alt="картинки"/>
   {% endfor %}
</div>
{% endblock content%}